.msgInput{resize:none !important;}
.heading a{text-decoration:none;color: #fff;}
.heading a:hover{text-decoration:none;color: #fff;}
label.error{color:red;font-style: normal;font-weight: normal;margin-bottom:0 !important;}
#usersignup .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
.regBtn {	margin-top:0 !important;}
.alert-danger ul li {    list-style: none;}

.resetMid{  min-height: 550px !important;}
.text-center{text-transform: capitalize;}
.pro-img {	height:170px !important;	width:170px !important;	padding:5px !important;}
.pro-left img {	max-width:100%;	max-height:100%;	border-radius:50%;}
.pError {	display:inline;}
.asteriskMark {display: block;   font-size: 18px;    margin-bottom: 10px;}
.selectMenu {   border: 2px solid #ebebeb !important;   border-radius: 2px !important;   color: #000 !important;   height: 40px !important;   margin-top: 0 !important;
    text-align: left !important;    width: 100% !important;	background: none !important;}
.input-group-addon {	background:rgba(0, 0, 0, 0) linear-gradient(135deg, rgba(255, 156, 63, 1) 0%, rgba(255, 123, 0, 1) 100%) repeat scroll 0 0 !important;
	padding: 6px 12px !important;}
.input-group-addon .caret {  border-left: 4px solid transparent;  border-right: 4px solid transparent;  border-top: 8px dashed;  color: white;}
.input-group-addon .glyphicon-remove {	color:white;}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle)
{	border-right:0 !important;}
.noRecordFound {font-size:16px;	font-weight:bold;}
#about_sub_form {	position:relative;}
#about_sub_form label.error {    position: absolute;    top: 74px;    left: 30%;}
.tab-section ul.nav {  margin-bottom: 40px;}
div#custom_success_client {position: fixed;top: 0;	z-index: 99999;	width: 100%;	display: none;}
div#custom_error_client {   display: none;	position: fixed;	top: 0;	z-index: 99999;	width: 100%;}
.two_section input[type="submit"] {	text-transform: none;}
.social-icon pull-right .fa-facebook-f::before, .fa-facebook::before { padding: 4px;}
.upload-icon img {  width: 100%;}

.dBlk {	display:block !important; 	background:url(../img/hover-user-images.png) no-repeat !important;	border:0 !important;}
#requestPopUp .modal-header{	color:white;	background-color: #ff7c00;}
#requestPopUp label {	margin-bottom:5px;}

.fa.fa-facebook.we {  padding: 4px;}

.footer-bottom .nav-botm a {	font-size:14px !important;}
.footer-bottom li a, .footer-bottom p {	font-size:14px !important;}
.exchange a {	border-radius: 0px !important;	border:0px !important;}
.exchange a:hover {	border-radius: 0px !important;	border:0px !important;}
.home-header .carousel-caption a {	border-radius: 0px !important;	border:0px !important;}
.home-header .carousel-caption a:hover {	border-radius: 0px !important;	border:0px !important;}
.typeOfUser .dropdown-menu>li>a{	font-weight:bold;}
.paddingTop15px {padding:8px 0;}
.sa_cu_blck .nav-pills > li > a {	text-transform: none !important;	font-size:15px;}
.sa_cu_blck {	background: none !important;}
.customFilterCountry {	width:150px;}
.customFilterSearch {	width:90px;}
.sa_cu_blck_1 .nav-pills > li > a{text-transform: none !important;font-size:15px;}
span.noFound {    margin-top: 30px;    float: left;    width: 100%;	margin-bottom: 30px;}
.customOpacity {	opacity:0.2;	background-color:#d6d6d6;}
.tabUlChange ul {padding-left:15px;}
.extra {    font-size: 18px !important;}

.user-profile-open > #user-profile-menu:hover{	color:#ff7c00;}
.user-profile-open > #user-profile-menu:focus{	color:#ffffff;}

.body-modal .me:last-child .time-msgbox.timesent{	margin-top:6px;}
