
@font-face {
	font-family: 'Conv_Gobold Light';
	src: url('../fonts/Gobold Light.eot');
	src: local('☺'), url('../fonts/Gobold Light.woff') format('woff'),
	 url('../fonts/Gobold Light.ttf') format('truetype'),
	  url('../fonts/Gobold Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.regMid {padding-top: 50px;}
.university_banner { width: 100%; float: left; height: 400px;}
.col_0 { padding-left: 0px; padding-right: 0px; }

/*.university_banner_1 { width: 100%; 
float: left; 
height: 400px;
background-size:cover !important; background-position:100% 100% !important; background-repeat:no-repeat !important;}*/
.university_banner_1 {
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  float: left;
  height: 370px;
  width: 100%;
}
.col_0 { padding-left: 0px; padding-right: 0px; }


.list_university_blck { /*background: rgba(0, 0, 0, 0) url("http://www.flyingchalks.com/public/img/img2.png") no-repeat scroll 0 bottom;*/ float: left;  width: 100%; background-size: 100%; }
.inner_university_blck { border: 1px solid #e1e1e1; float: left; height: auto; margin-bottom: 40px; margin-top: 10px; padding-bottom: 16px; padding-top: 16px; position: relative; text-align: center; width: 100%; }
.inner_university_blck .inner_img_block { background: rgba(64, 64, 64,0.75) none repeat scroll 0 0; bottom: 0px; display: block ; float: left; min-height:44px; position: absolute; width: 100%; }
.inner_img_block h4 {  color: #fff;  font-size: 13px;  text-transform: capitalize;}

.inner_university_blck:hover .inner_img_block { display: block; }
.uni_heading { float: left; margin-bottom: 16px; width: 100%; }
.uni_heading h4 { font-size: 50px; font-weight: bold; }
.university_banner_inner { width:100%; background:url("http://www.flyingchalks.com/public/img/General-university-page-1.jpg") no-repeat ; height:370px; background-size:cover; background-position:center center;}
.university_banner_inner  h1{ text-align:center; font-size:55px; color:#ffffff; font-family:"Helvetica Neue", Helvetica,Arial,sans-serif; font-weight:200; letter-spacing:1px; margin:0px;}
.university_banner_inner > img {  min-height: 310px;  width: 100%;}
.fil_univ_blck_2 { float: left; /*max-width:140px; width:24%; */}
.fil_univ_blck_2 h3 {font-size:15px; font-weight:bold; text-align:right; padding-right:20px; }
.fil_univ_blck { float: left; width: 62%; }
.fil_univ_blck h3 {font-size:15px; font-weight:bold; text-align:left; }
.fil_univ_blck .dropdown { float: right; margin-bottom: 16px; margin-top: 20px; }
.fil_univ_blck select { float: left; width: 66%; border: 1px solid green; }
.inner_university_blck > img { margin: 0 auto; width: 80%; }
.fil_univ_blck input[type="text"] { border: 2px solid rgb(235, 235, 235); border-radius: 0; font-size:14px; height: 42px; padding: 10px; width: 100%; color:#ababab;  }
.fil_univ_blck .combobox-container.combobox-selected { margin-top: 9px; }
.fil_univ_blck .combobox-container{ margin-top: 9px; }

.fil_univ_blck_3 {  float: left;
    max-width: 155px;
    width: 36%; }
.fil_univ_blck_3 h3 {font-size:15px; font-weight:bold; text-align:right;padding-right: 20px; }
.fil_univ_blck_4 { float: left; width: 64%; }
.fil_univ_blck_4 .dropdown { float: right; margin-bottom: 16px; margin-top: 20px; }
.fil_univ_blck_4 select { float: left; width: 66%; border: 1px solid green; }
.fil_univ_blck_4 input[type="text"] { border: 2px solid rgb(235, 235, 235); border-radius: 0; font-size:14px; height: 42px; padding: 10px; width: 100%; color:#ababab;  }
.fil_univ_blck_4 .combobox-container.combobox-selected { margin-top: 9px; }
.fil_univ_blck_4 .combobox-container{ margin-top: 9px; }


.university_gen_logo{width:50%;height:auto; margin:5% auto 0;}
.university_gen_logo p{text-align:center;font-size:42px;	margin-top:2%;	font-weight:bold;	color:#fff;}
.university_gen_logo img{width:40%;}
.tabs_nav {  float: left;  margin-top: 3%;  width: 100%;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ff7c00;  border-color: #ddd #ddd transparent;  border-image: none;  border-style: solid;  border-width: 1px;  color: #fff;  cursor: default;  font-weight:bold;}
  
  .nav-pills > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ff7c00;  border-color: #ddd #ddd transparent;  border-image: none;  border-style: solid;  border-width: 0px;  color: #fff;  cursor: default;  font-weight:bold;}
.tab-content p {  margin-top: 14px;}
.sa_cu_blck_1 .nav-stacked li a.current {  background: #ffffff none repeat scroll 0 0;  color: #f0851a;  font-size: 18px;}

.nav-tabs > li a {	font-weight:bold;}
.university-lft{ width:100%; float:left; background:#dfe2eb; padding:10px;}
.sa_cu_blck {  float: left;  margin-bottom: 16px;  width: 100%; background:red;}
.sa_cu_blck ul{margin:0 auto;}
.sa_cu_blck_1{width:100%;	float:left;}

.sa_cu_blck_1 .nav-pills > li > a {  border-radius: 4px;  clear: both;  color: #4d4d4d;  font-size: 15px;  font-weight: bold;  margin: 8px 0;  padding: 5px 15px;  text-align: center;  text-transform: uppercase;}
.sa_cu_blck_1 .nav-stacked > li + li {  margin-bottom: 12px;}
.sa_cu_blck_1 .nav-stacked li a.current{ font-size:18px; color:#f0851a; background:#ffffff;}
.sa_cu_blck_1 .nav-stacked li .current {  background: #ffffff none repeat scroll 0 0;  border-radius: 4px; color: #f0851a; font-size: 18px; padding: 5px 0; text-align: center;}
.sa_cu_blck .nav-pills > li {  background: #ff7c00 none repeat scroll 0 0;  color: #fff;  float: left;  margin: 0;  width: 100%;}
.sa_cu_blck .nav-pills > li > a {  border-radius: 0;  color: #fff;  display: block;  margin: 0;  padding: 14px 0; font-weight:bold; letter-spacing:0.3px;  text-align: center;  text-transform: uppercase;  width: 100%;}
.nav.nav-pills.nav-stacked {  padding: 0 10px;}
.sa_cu_blck .nav-pills > li > a.current{ background:#f0851a; color:#ffffff;}
.change-unveristy a:hover { background: #eee none repeat scroll 0 0 !important;  color: #f0851a !important;}


.deatil-tabs {  float: left;  width: 100%;}
.deatil-tabs .nav > li {background:#dfe2eb; vertical-align: middle;}
.deatil-tabs .nav > li > a {  border-radius: 0;  display: block;  font-size: 12.8px;    padding: 10px 15px;  position: relative; background:#dfe2eb; }
.deatil-tabs  .nav-pills > li.active , .nav-pills > li.active, .nav-pills > li.active  {  background-color:#ffffff;  color: #000000;  border-radius: 8px 8px 0px 0px;}
.deatil-tabs  .nav-pills > li.active > a,
 .nav-pills > li.active > a:focus, 
 .nav-pills > li.active > a:hover {  background-color:#ffffff;  color: #000000;  border-radius: 8px 8px 0px 0px;}

.deatil-tabs .nav-pills > li + li{ margin-left:0px;}
.tab-content #home, #menu1, #menu2, #menu3, #menu4, #menu5 { background:#ffffff; padding:15px 20px; }
.right-outer .tab-content{ clear:left;}
.contribute-text{ background:#ffffff; width:100%; float:left; padding:0 10px;}


.university-lft-1-outer{ width:100%; padding:0 2%;}
.university-lft-1 {  background: #dfe2eb none repeat scroll 0 0;  float: left;  width: 90%;  margin: 0 5%;}
.detail_side_bar {  float: left;  text-align: center;  width: 100%;}
.submit-btn-detail {  float: left;}
.submit-btn-detail a {
  background: #ff7c00 none repeat scroll 0 0;
  border: 2px solid #ff7c00;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 2px 11px;
  text-align: center;
}
.submit-btn-detail a:hover { background: #fff none repeat scroll 0 0;border: 2px solid #ff7c00;  color: #ff7c00; text-decoration: none;}
.submit-area {
  background: #fff none repeat scroll 0 0;
  border-radius: 4px;
  float: left;
  margin-top: 10px;
  padding: 10px 19px;
  width: 100%;
}
/*.submit-area h3 {  color: #337ab7;  font-size: 18px;}*/
.submit-area h3 {
  color: #000;
  font-size: 17px;
  font-weight: bold;
  margin-top: 4px;
  text-align: left;
}
.meassge-box h3 {
  font-size: 12px;
}
.detail-submit {  float: left;  padding: 10px 0;  width: 100%;}
.detail-submit input {  border: 2px solid rgb(235, 235, 235);  border-radius: 0;  color: #ababab;  font-size: 14px;  height: 42px;  padding: 10px;  width: 100%;}
.detail-submit textarea {
border: 2px solid rgb(235, 235, 235);  color: #000000; padding: 10px;  width: 100%; font-size: 14px; 
  width: 100%;
}
.detail-main-page {  margin-top: 0;  padding-top: 3%; background:#f0f3f5; padding-bottom:40px;}
.univ_part .detail-img-p {  float: left;  margin-top: 20px;}
.detail-img-p {  font-size:15px;  margin: 20px 0 0; text-align:center; background:#ffffff; padding:15px; float:left;}
.inner_img_block h4 a {  color: #fff;}
.detail_side_banner {  padding: 100px 0 0;  text-align: center;  width: 100%;}
#universityList {  margin-top: 30px;}
.detail-user-comment {  border: 1px solid #ccc;  border-radius: 50%;  display: inline-block;  height: 90px;  padding: 5px;  text-align: center;  width: 90px;}

.user-com {  float: left; font-size: 0.9165em;  font-weight: bold;  margin: 8px 0 0;  text-align: center;  width: 100%;}
.meassge-box {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #c4702e;
  border-radius: 13px;
  box-shadow: 0 0 5px 5px #fab573;
  float: left;
  margin: 11px 0;
  padding: 4px 22px 20px 10px;
  width: 95%;
}
.meassge-box p {  font-size: 14px;  text-align: left;}
.arrow-left-icon {  left: -12px;  position: absolute;  top:32px;}
.comment-area-user {  display: table-row;  float: left;  margin: 20px 0;  text-align: center;  width: 100%;}
.overview {
  color: #f0851a;
  float: right;
  font-size: 20px;
  text-transform:uppercase;
  margin-right: 29px;
}
.univ_part {  float: left;  margin-top: 11px;  width: 100%; padding:15px 0;}
.univ_part img {width:100%; float:left;}
.detail-img-p a { float: left; width: 100%;}
.review-borde {
  border-right: 2px solid rgb(235, 235, 235);
}
 .table-responsive {
  border: 0 none;
}
.mobile-view { display:none;}

@media only screen and (min-width:1200px) and (max-width:1256px){
.fil_univ_blck {
  width: 62%;
}
.fil_univ_blck_4 {
  width: 62%;
}

.fil_univ_blck_3 h3 {
  text-align: right;
}
	
}

@media only screen and (min-width:840px) and (max-width:991px){
.fil_univ_blck_3 h3 {   text-align: right;}	
}

@media only screen and (min-width:768px) and (max-width:1024px){
.fil_univ_blck h3 { text-align:left; }	
.deatil-tabs ul li {  margin-left: 0;}
.deatil-tabs  .nav-pills > li{ text-align:center; margin:0 0 10px 0;}
.deatil-tabs .nav > li > a { padding: 10px 8px;}
.pd {
  padding: 15px !important;
}
}

@media only screen and (min-width:840px) and (max-width:991px){
.fil_univ_blck_3 h3 {
   text-align: right;
}
}

@media only screen and (min-width:320px) and (max-width:767px){
.fil_univ_blck h3 { text-align:left; }	
.university-lft-1-outer{ width:100%; padding:0 0%;}
.deatil-tabs  .nav-pills > li{ text-align:center; margin:0 0 10px 0;}
.top-msg {
  background: rgba(0, 0, 0, 0) url("http://www.flyingchalks.com/public/img/top-arrow.png") no-repeat scroll center 0;
  float: left;
  left: 0;
  padding: 20px 0;
  position: absolute;
  top: -31px;
  width: 100%;
}
.topUp {
  margin-top:100px !important;
}
.meassge-box {
  position: relative;
}
.arrow-left-icon {
  display: none;
}
.deatil-tabs { margin-top: 10px;}
.univ_part {
  float: left;
  margin-top: 11px;
  text-align: center;
  width: 100%;
}
.univ_part img {
  display: inline;
  width: auto; float:none;
}

.fil_univ_blck {
  float: left;
  width: 100%;
}

.fil_univ_blck_4 {
  float: left;
  width: 100%;
}

.fil_univ_blck_3 h3 {
   text-align: left;
}
.inner_university_blck {
  float: none;
  margin: 20px auto 0;
  width: 50%;
}
.university-lft-1 {
  width: 100%;
}
.university-lft-1 {
  margin: 0;
}
.meassge-box {
  margin: 35px 0 12px;
}
#universityList {
  margin-top: 0;
}
.mobile-view { display:block !important;}
.desktop-view { display:none;}

}



@media (min-width:768px) and (max-width:837px){
.fil_univ_blck {
  width: 100%;
}

.fil_univ_blck_4 {
  width: 100%;
}

.fil_univ_blck_3 h3 {
   text-align: left;
}
}


@media (min-width:768px) and (max-width:1920px){
.list_university_blck {  /*padding-bottom: 19.8%;*/}
}
/*@media (min-width:320px) and (max-width:419px){
	
	.form-body.loginMid h2 {
    margin-top: 105px !important;
}
	
	
	}*/


@media (min-width:320px) and (max-width:800px){

.fil_univ_blck_1{ width:100% !important; }
.deatil-tabs ul li {  margin-left: 0;}
.header-bottom ul {
	max-width: 90%;
}
}
@media only screen and (max-width:600px){
.deatil-tabs {  margin-top: 20px;}
.deatil-tabs .nav-pills {  float: left;  width: 100%;}
.deatil-tabs .nav-pills li {  float: left;  position: inherit;  width: 100%;}
.deatil-tabs .nav > li > a { display: block; float: left;  margin-bottom: 10px;  padding: 10px 14px;  position: inherit;  width: 100%;}
.submit-area h3 { font-size: 16px;}

}

@media only screen and (max-width:600px){
.sa_cu_blck .nav-pills > li > a {  padding: 10px 15px; }
.extra {
  font-size: 14px !important;
  text-align:center !important;
}
.loginMid .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
  margin-left: -35px;
}
.outer-inner-Pageheader .inner-Pageheader ul {
  margin: 0 6px 0 0;
}
.loginMid .checkbox label input {
  margin-top: 0;
}
.inner-Pageheader ul li a {
  padding: 10px 1px;
}

}
@media only screen and (max-width:423px){
.inner-logo {
  float: left;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}
.form-body.loginMid h2 {
  margin-top:0px;
}
.form-body.regMid h2 {
  margin-top:0px;
}
.paddingTop15px {
  padding: 14px 23px;
  width: 100%;
}
.arrow-down {
  display: none;
  left: 35px;
}
.inner-Pageheader ul li a {
  font-size: 13.5px;
}
.detail-submit textarea {
  font-size: 11px;
}

.header-bottom select, .header-bottom button.btn.btn-primary {
  font-size: 13px !important;
  text-align: left !important;
}
.paddingTop15px .pull-right {
  text-align: center;
  width: 100%;
}
.tab-section .tab-content #home, #menu1, #menu2, #menu3, #menu4, #menu5 {
  padding: 15px 0;
}

.inner-Pageheader ul li a {
  font-size: 12.1px;
}
}

/*@media (min-width:320px) and (max-width:400px){
.inner_img_block ul li {	width:50%;	text-align:center;	margin:0px;	padding:0px;}
}*/

@media only screen and (min-width:1200px){
.rud_spa_1{
	width:33%;
	font-size:17px;
	
}
.rud_spa {
  font-size: 17px;
  width: 25%;
}
}

@media (min-width:1250px) and (max-width:1350px){
	.fil_univ_blck_3 {width: 36%; }
}