@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.eot') format('embedded-opentype'),url('../fonts/Helvetica.ttf')  format('truetype'), url('../fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('../fonts/Circular.eot') format('embedded-opentype'), url('../fonts/Circular.ttf')  format('truetype'), url('../fonts/Circular.svg#Circular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoboldBold';
  src: url('../fonts/GoboldBold.eot') format('embedded-opentype'),url('../fonts/GoboldBold.ttf')  format('truetype'), url('../fonts/GoboldBold.svg#GoboldBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GoboldThinLight';
  src: url('../fonts/GoboldThinLight.eot') format('embedded-opentype'),url('../fonts/GoboldThinLight.ttf')  format('truetype'), url('../fonts/GoboldThinLight.svg#GoboldThinLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot') format('embedded-opentype'),url('../fonts/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
     font-family: 'Helvetica' !important;
}

p , ul{
    padding: 0;
    margin: 0;
}


.footer p {
    margin: 0;
}
.footer, .footer-bottom {
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-bar {
    float: left;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.top-bar ul {
    list-style: none;
    margin-top: 20px;
}
.top-bar ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    
}
.top-bar ul li a {
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    padding: 4px 12px;
    text-transform: capitalize;
}
.top-bar ul li.h-about a {
    border: 2px solid #fff;

}
.top-bar ul li.h-about a:hover {
    background-color: rgba(0, 0, 0, 0.35);
}
.top-bar ul li a:hover {
    text-decoration: none;
}
.home-header .carousel-control .icon-next::before,.home-header .carousel-control .icon-prev::before {
    content: none;
}
.home-header .carousel-control {
    z-index: 100;
}
.home-header .carousel-control.left ,.home-header .carousel-control.right{
    background-image: none;
}
.home-header .carousel-caption span {
    display: block;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
}
.home-header .carousel-caption a {

    border: 2px solid #ff7c00;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    margin-top: 30px;
    padding: 9px 20px;
    text-shadow: none;
background: rgba(255,156,63,1);
background: -moz-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,156,63,1)), color-stop(100%, rgba(255,123,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: linear-gradient(135deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c3f', endColorstr='#ff7b00', GradientType=1 );
}
.home-header .carousel-caption a:hover {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    color: #000;
    border: 2px solid transparent;
   
}

.home-header .carousel-caption a:hover {
    text-decoration: none;
}

.home-header .carousel-caption {
    top: 35%;
    bottom: auto;
}
.footer {
    background: #222222;
    color: #fff;
    margin-top: 30px;
}
.footer h3 {
    background-image: url("../img/footer-headingimg.png");
    background-position: left bottom;
    padding-bottom: 20px;
    background-repeat: no-repeat;
   
    font-size: 24px;
    margin-bottom: 20px;

}
.footer ul {
    padding: 0;
}
.footer ul li {
    font-size: 20px;
    line-height: 50px;
    list-style: none;
}
.home-header h2 {
    font-weight: bold;
    font-size: 70px;
 
    text-shadow: 1px 1px 1px #000;
}
.footer-bottom {
    background: #101010;
    color: #fff;
}
.footer-bottom ul li {
    display: inline;
    list-style: none;

}
.footer-bottom p {
    margin: 16px 0 0;
}
.footer-bottom ul {
    margin: 0;
    padding: 0;
}
.footer p {
     font-size: 20px;
line-height: 38px;
}
.footer-bottom ul li i {
    background: #121212 none repeat scroll 0 0;
    border: 2px solid #282828;
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
    padding: 15px;
}
.footer-bottom ul li i:hover {
    background: #f0851a;
    border: 2px solid #fff;
}
.header-bottom {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    float: left;
    padding: 30px 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
}
.header-bottom select, .header-bottom button.btn.btn-primary {
    background-color: #fff;
    background-image: url("../img/select-arw.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 5px;
    color: #000000;
    font-size: 25px;
    max-width: 40%;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.header-bottom ul {
    border-radius: 0;
    box-shadow: none;
    float: none;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 40%;
    padding: 10px;
    right: 0;
    text-align: center;
    width: 100%;
}
.header-bottom .btn-primary.active.focus, .header-bottom .btn-primary.active:focus,.header-bottom .btn-primary.active:hover,.header-bottom .btn-primary.focus:active,.header-bottom .btn-primary:active:focus,.header-bottom .btn-primary:active:hover, .header-bottom .open > .dropdown-toggle.btn-primary.focus,.header-bottom .open > .dropdown-toggle.btn-primary:focus,.header-bottom .open > .dropdown-toggle.btn-primary:hover {
    background-color: #fff;
    color: #000000;
}
.header-bottom button strong {
    color: #FF7C00;
}
.header-bottom ul li {
    padding: 10px;
}
.header-bottom select span {
    color: #ff8b1e;
}
.block-img {
    background-image: url(../img/heading-word.png);
    background-repeat: no-repeat;
    padding-left: 75px;
    padding-right: 30px;
}
.one_section, .two_section {
    float: left;
    margin-top: 100px;
    padding-bottom: 250px;
    position: relative;
    width: 100%;
}
.two_section ul li img {
    position: absolute;
    top: -33px;
    margin-left: 20px;
}
.footer .container , .footer-bottom .container{
    max-width: 1600px !important;
    width: 100% !important;
}
img.img-back {
    bottom: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
}
.block-img h3 {
    /*text-transform: uppercase;*/
  

    font-size: 35px;
}
.block-img p {
    color: #262626;
    font-size: 23px;
    margin-top: 25px;
}
.two_section {
    float: left;
    text-align: center;
    width: 100%;
}
.two_section h3{
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.two_section span {
    
    font-size: 25px;
    margin-bottom: 20px;
    display: inline-block;
    color: #262626;
}
.two_section ul li, .two_section ul li a {
   
    font-size: 21px;
    list-style: none;
    color: #595959;
    text-decoration: none;
}
.two_section input[type="text"] {
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 1px 2px 1px #b1b1b1 inset;
    margin-right: 10px;
    margin-top: 30px;
    padding: 10px;
    width: 35%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}
.two_section input[type="submit"] {
    background: #f0851a none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    height: 60px;
    width: 60px;
    font-size: 20px;
    text-transform: uppercase;
}
.two_section input[type="submit"]:hover {
    border: 2px solid #f0851a;
    color: #f0851a;
    background: transparent;
}
.two_section ul {
    margin-top: 30px;
    position: relative;
}
.two_section p {
    color: #f0851a;
    font-size: 20px;
    margin-top: 15px;
}
ul.nav-botm {
    margin-top: 16px;
}
.nav-botm a {
    border-left: 1px solid #fff;
    color: #fff;
  
    margin-right: 10px;
    padding-left: 10px;
    text-transform: capitalize;
}
.nav-botm a:hover{
    text-decoration: none;
    color: #fff;
}
.nav-botm li:first-child a {
    border: medium none;
    padding-left: 0;
}

.inner-Pageheader a img {
    margin-left: 50px;
    margin-top: 5px;
}
.inner-Pageheader ul li {
    display: inline;
}
.inner-Pageheader ul li a{
 color: #212121;
    display: inline-block;
    font-size: 16px;
    padding: 15px 20px;
    text-transform: capitalize;
    border-radius: 3px;
    font-weight: bold;
}
.inner-Pageheader ul li a:hover {
    text-decoration: none;
}
.inner-Pageheader ul li.active a {
    background-color: #ff7c00;
    color: #fff;
}
.inner-Pageheader {
    border-bottom: 1px solid #cccccc;
    float: left;
    width: 100%;
}
.inner-Pageheader ul {
    margin: 18px 30px 0 0;
}
.arrow-down {

    bottom: 5px;
    height: 0;
    left: 113px;
    position: absolute;
    width: 0;
}
.inner-logo a {
    position: relative;
}
.form-body {
    float: left;
    width: 100%;
    /*padding-bottom: 100px;*/
    min-height: 880px;
    position: relative;
    padding-top: 50px;

}
p.terms-cond {
    font-size: 17px;
    line-height: 26px;
}
.form-body h2 {
   font-weight: bold;
    color: #000;
    margin-bottom: 40px;
}

.form-body button {
     border: 2px solid #ff7c00;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    padding: 5px 23px;

background: rgba(255,156,63,1);
background: -moz-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,156,63,1)), color-stop(100%, rgba(255,123,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: linear-gradient(135deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c3f', endColorstr='#ff7b00', GradientType=1 );
}
.form-body input[type="email"], .form-body input[type="password"] {
    background:#ebebeb;
    border: 0;
    box-shadow: none;
    border-radius:0;

}
.form-body p.heading {
    background: #2c4178 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
 
    font-size: 19px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
  
    width: 100%;
}
.form-body p.heading span {
    border-right: 1px solid #6c7aa1;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
}
.two_section i {
    background: #4c69a1 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
    padding: 6px 7px 2px;
}
select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
}
.or {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}
.form-body .bckGrey {
    background: #ebebeb none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
}
.home-header .fill {
    background-position: center top;

}
.form-body input {
    font-size: 20px;
}
.form-body input.form-control {
    height: 40px;
}
.form-body button:hover {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #ff7c00;
    color: #ff7c00;
}
.footer-bottom li a, .footer-bottom p {
    font-size: 18px;
}
.home-header .carousel-caption {
    left: 0;
    margin: auto;
    padding-bottom: 30px;
    right: 0;
    text-align: center;
}
header.home-header {
    height: 85%;
}

[selected] {
    font-weight: bold;
}
#select option {
    font-weight: bold;
    color: red;
}
.profile-main {
    background: #eee;
    float: left;
    margin-bottom: 80px;
    padding: 20px;
    width: 100%;
}
.profile-main p {
    font-size: 30px;
    margin: 0;
}
.profile-details {
    float: left;
    width: 100%;
    margin-bottom: 80px;
}
.profile-details img {
    margin-bottom: 20px;
}
.profile-bio {
    background: #d9edf7;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
}
.profile-bio h3 {
    margin-bottom:0;
}
.profile-bio span {
    margin-bottom: 10px;
    display: block;
}
.profile-bio p {
    font-size: 18px;
}
.profile-details .form-control {
    background: #ebebeb none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    font-size: 20px;
}
.pro-left .btn{
 background: #5cb85c;
    border: 2px solid #45ac45;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 23px;
    text-shadow:none;
}
.pro-left .btn:hover {
    background: transparent;
    border: 2px solid #45ac45;
    color: #45ac45;
}

.pro-right .btn:hover {
    background: transparent;
     border: 2px solid #ff7c00;
    color: #ff7c00;
}

.pro-right .btn {
    text-shadow:none;
    color: #fff;
    display: inline-block;
    border: 2px solid #ff7c00;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 23px;
background: rgba(255,156,63,1);
background: -moz-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,156,63,1)), color-stop(100%, rgba(255,123,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
background: linear-gradient(135deg, rgba(255,156,63,1) 0%, rgba(255,123,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c3f', endColorstr='#ff7b00', GradientType=1 );
}
.social-icon-pro ul li {
    display: inline;
    margin-bottom: 0;

    margin-right: 10px;
    padding: 10px;
}
.social-icon-pro ul {
    margin-bottom: 20px;
    margin-top: 20px;
}
.social-icon-pro ul li a{
    color: #fff;
}
.social-icon-pro i {
    margin-right: 5px;
    color: #fff;
}
.facebook-pro {
    background: #627aac none repeat scroll 0 0;
    border-radius: 3px;
    
}
.insta-pro {
    background: #cf583f none repeat scroll 0 0;
    border-radius: 3px;
    
}
.linked-pro {
    background: #3e91b9 none repeat scroll 0 0;
    border-radius: 3px;
    
}
.pro-right form h3 {
    margin: 20px 0;
}



@media screen and (max-width: 1317px) {
    .header-bottom select, .header-bottom button.btn.btn-primary {max-width: 60%; text-align: left;}


}



@media screen and (max-width: 900px) {
    .one_section, .two_section {padding-bottom: 100px; margin-top: 40px;}
    .form-body.loginMid{min-height: 600px;}

}






@media screen and (max-width: 800px) {
.home-header h2 {
    font-size: 36px;
}
.home-header .carousel-caption span {
    font-size: 15px;
}
.home-header .carousel-caption a {
    border: 1px solid #ff7c00;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 10px;
    padding: 10px 20px;
}
.two_section ul li img {
    left: 0;
    margin: auto;
   
    right: 0;
    top: -57px;
    width: auto;
}
.two_section input[type="text"] {width: 60%;}
.header-bottom select, .header-bottom button.btn.btn-primary {max-width: 90%; }
.home-header .carousel-caption {top: 28%;}

}



@media screen and (max-width: 747px) {
    .footer-bottom div {
    text-align: center;
    width: 100%;
    }
.footer-bottom p {
    margin: 10px 0;
}
    .footer-bottom ul {float: none !important; margin: 15px 0;}
    ul.nav-botm {margin: 0;}

}


@media screen and (max-width: 500px) {
    .header-bottom select, .header-bottom button.btn.btn-primary {font-size: 15px;}
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {margin-right: 0 !important;}
}



@media screen and (max-width: 480px) {
    .two_section h3 {font-size: 27px;}
.top-bar div {
    text-align: center;
    width: 100%;
}
.top-bar ul {
    float: none !important;
    margin: 0;
    padding: 10px 0;
}
.top-bar div:nth-child(2) {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.home-header h2 {
    font-size: 25px;
    line-height: 39px;
}
.home-header .carousel-caption {
    top: 30%;
}
.block-img {
   
    background-position: center top;
  padding-left: 0;
    padding-top: 37px;
    text-align: center;
}
.block-img p {margin-top: 0;}
.inner-Pageheader a img{margin-left: 0;}
.arrow-down{left: 35px;}
.inner-Pageheader ul{margin: 0;}


}

@media screen and (max-width: 320px)  {
.home-header h2 {
    font-size: 15px;
    line-height: 23px;
}
.home-header .carousel-caption {top: 40%;}
.home-header .carousel-caption span {display: none;}
.home-header .carousel-caption a{font-size: 13px; margin-top: 0;}
.header-bottom select, .header-bottom button.btn.btn-primary {font-size: 13px;}
}






/*
@-moz-document url-prefix() { 
  .arrow-down {
     bottom: 5px;
  }
}*/